# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

# Build and distribution output
build/
dist/
__pycache__/

# IDE-specific files (for VS Code)
.vscode/
.idea/

# Meson build files
meson-private/
builddir/
test.py
test.ui
test.blp
test.css
AppDir
.venv
.flatpak-builder
extract_description.py
.VSCodeCounter/